{% extends "base.html" %}
{% block content %}
<div class="fixed inset-0 bg-cover bg-center bg-no-repeat"
     style="background-image: url('{{ url_for('static', filename='images/pic3yes.jpg') }}'); z-index: -1;">
</div>

<div class="min-h-screen flex items-center justify-center p-4">
 <div class="w-full max-w-md bg-white bg-opacity-30 backdrop-blur-sm rounded-xl shadow-xl overflow-hidden">
     <div class="bg-[#C4A484] px-6 py-5">

<h2 class="text-3xl font-semibold text-white text-center tracking-tight">Admin Login</h2>

<!-- Card Body -->
        <form method="POST" class="p-8 space-y-6">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <label for="username" class="block text-sm font-medium text-white-700">Username</label>
        <input type="text" name="username" id="username" class="w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm">
    </div>
    <div>
        <label for="password" class="block text-sm font-medium text-white-700">Password</label>
        <input type="password" name="password" id="password" class="w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm">
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
    <footer class="text-center text-sm mt-12 mb-6">
        <p class="drop-shadow-md">Powered by <span class="font-semibold">Code_of_Duty</span></p>
    </footer>
</form>
{% endblock %}